html {
    pointer-events: auto;
    font-family: sans-serif;
}

body {
    font-family: "proxima-nova";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(82, 82, 82, .6);
    margin: 0%;
}

div {
    display: block;
}

div.Head_Bar {
    text-align: center;
    background-color: lightseagreen;
}

a:link,
a:visited {
    text-decoration: none;
    display: inline-block;
}

div.Icon {
    background-color: black;
    text-align: center;
}

div.NAV_Bar {
    background-color: black;
    text-align: center;
    padding: 5px;
}

a.Button_Bar {
    padding-left: 20px;
    color: white;
}

a.Button_Bar:hover {
    color: lightseagreen;
}

div.Body_Information {
    color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

footer {
    background-color: lightseagreen;
    padding-top: 30px;
    padding-bottom: 5px;
}

div.Footer_Text {
    color: black;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 1000px;
}

div.Contact {}

div.Open_Time {}