{% load i18n %} {% load static %} {% load change_lang %}


<!-- Footer-->


<footer>
    <section class="page-section" id="contact">
        <div class="container white-bg-75 py-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0 font-weight-bold text-secondary">{% trans 'Contact Us!' %}</h2>
                    <hr class="divider my-4" />
                    <p class="text-secondary mb-5"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-secondary"></i>
                    <div class="text-secondary"><h5 class="font-weight-bold">+1 (555) 123-4567</h5></div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-secondary"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block text-secondary" href="mailto:contact@yourwebsite.com"><h5 class="font-weight-bold">contact@yourwebsite.com</h5></a>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <!-- Facebook -->
                <a class="btn btn-l text-white mx-4" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <!-- Instagram -->
                <a class="btn btn-l text-white mx-4" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <!-- Pinterest -->
                <a class="btn btn-l text-white mx-4" style="background-color: #c61118;" href="#!" role="button"><i class="fab fa-pinterest"></i></a>
                <!-- Twitter -->
                <a class="btn btn-l text-white mx-4" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

    </section>
    <section class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">
                Copyright © 2022 - Toronto Cupcakes
            </div>
        </div>
    </section>
</footer>
