{% load i18n %} {% load static %} {% load change_lang %}

<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Toronto cupcakes</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
</head>
<body>
    <div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
        <div class="logo"><a href="#">Toronto Cupcakes</a></div>
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="nav-lan">
                <a href="#" class="desktop-link">Languages</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Languages</label>
                <!-- using template tag change_lang -->
                {% get_language_info_list for LANGUAGES as languages %}
                <ul>
                    {% for language in languages %}
                    <li><a href="{% change_lang language.code %}">{{ language.name_local }}</a></li>
                    {% endfor %}
                
                </ul>
            </li>
            
        </ul>
        </div>
        
        <a href="#"><label class="search-icon"><i class="fa fa-shopping-cart "></i></a>
        
    </nav>
    </div>
    <div class="dummy-text">
    <h2></h2>
    <h2></h2>
    </div>
</body>
</html>