{% load i18n %}
{% load static %}
{% load change_lang %}


<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Toronto Cupcakes</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>      
            </ul>
        </div>
        <!-- using template tag change_lang -->
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="container">
            
            
            <div class="collapse navbar-collapse" id="navbarResponsive">   
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">---<li>
                {% for language in languages %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% change_lang language.code %}">
                    {{ language.name_local }}
                </a></li>
                {% endfor %}
                </ul>
            
        </div>
    </div>
</nav>
