.store {
    margin-top: 50px;
    padding: 100px;
}

.cover {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cupcake-box {
    margin: 10px;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-img {
    padding-left: 50px;
    height: 500px;
    display: flex;
    float: right;
}

.text-box {
    padding: 30px;
    text-align: justify;
}

@media (max-width: 650px) {
    .store {
        padding: 50px;
    }
    .item-img {
        padding: 0;
        width: 100%;
        height: auto;
    }
}

a {
    color: grey;
}

a.cupcake-link {
    color: black;
    display: block;
    padding: 0.5rem 1rem;
}

.cupacke-link:hover,
.cupcake-link:focus {
    text-decoration: none;
}

.cupcake-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}