*{
    margin: 0;
}
html{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #272727;
    
}
#content{
    width: 80%;
    min-height: 80vh;
    margin: auto;
}

header{
    background-image: url('../Images/background.jpg');
    background-size: 100%;
    min-height: 50vh;
}
header h3{
    color: white;
    position: relative;
    display: block;
    padding: 24px 24px;
    /*Had to make it float to the left because this bloody navbar broke if i didnt :)*/
    float: left;
}
#motto{
    margin: auto; 
    width: 40%; 
    color: white; 
    text-align: center;
}
/*________________________________*/

/**NAVIGATION*/
.Contact{
    padding: 14px 24px;
    text-align: center;
}
.Contact a{
    text-decoration: none;
    color: #fb3b02;
    font-weight: bold;
    font-size: 18px;
}

.topnav {
    overflow: hidden;
    float: right;
}
  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 7px;
    transition-duration: 0.2s;
}
  
.topnav a:hover {
    border-bottom: white 2px solid;
}
.Contact:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.topnav a.active {
    border-bottom: white 2px solid;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 800px) {
    .topnav .inactive {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav{float: none;}
    #motto{
        width: 70%;
        min-height: fit-content;
    }
    
    
}
/*Makes navbar look good on small screens*/
@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
        right: 0;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}/*________________________________*/
/**Navigation ends*/





/**SIZE TOGGLE*/
.size_toggle{
    float: right;
    display: block;
    padding: 19px 5px 5px 5px;
    text-align: bottom;
    background-color: #272727;
    font-size: 2em;
    font-weight: bolder;
    border: none;
    transition-duration: 0.2s;
    color: white;
}
.size_toggle:hover{
    background-color: white;
    color: black;
}/*________________________________*/








.center, .footer_div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

/**FOOTER*/
footer{
    background-image: url('../Images/background.jpg');
}
footer h4{
    font-size: 1.2em;
    margin-bottom: 1vh;
}
.footer_box{
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 60px 20px 0 20px;
    min-height: 350px;
    min-width: 30vw;
}
.footer_box>a{
    display: block;
    margin-bottom: 1vh;
}

/*____________________________________________*/

.footer_div .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2vw;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-pinterest {
    background: #cb2027;
    color: white;
}